<div class="authentication">
  <div class="authentication-header">
    <a href="<%= mySocial["link"] %>"><img alt="<%= mySocial["name"] %>" src="<%= asset_path(mySocial["name"]+"_32.png") %>">
      Login with <%= mySocial["name"] %>
    </a>
  </div>
</div>