<% content_for :css_head do %>
  <%= stylesheet_link_tag "yuser_login" %>
<% end %>
<% content_for :js_head do %>
  <%= javascript_include_tag "yuser_login" %>
<% end %>
<% content_for :js_ready do %>
    yuser_login_init();
<% end %>

<div class="span16 page-header">
	<h1>登錄</h1>
</div>	

<div class="alert-message success fade in hide" data-alert="alert">
    <a class="close" href="#">×</a>
    <p><strong>恭喜!</strong> 新增店家成功.</p>
</div>
<div class="alert-message error fade in hide" data-alert="alert">
    <a class="close" href="#">×</a>
    <p><strong>輸入錯誤!</strong> 名字不可空白.</p>
</div>

<div class="row login_methods">
  <div class="span5 columns loginEmail">  
	<form id="formloginEmail" class="form-stacked formloginEmail">
        <div>
          <h3>Log in</h3>
          <div class="clearfix single_field required">
            <label for="name">Email</label>
            <div class="input">
                <input class="xlarge" name="name" size="30" type="text">
                <span class="help-inline">Small snippet of help text</span>
            </div>
          </div>
          <div class="clearfix single_field">
            <label for="brand">Password</label>
              <div class="input">
                  <input class="xlarge" name="brand" size="10" type="text">
                  <span class="help-inline">Small snippet of help text</span>
              </div>
          </div>
            
          <div class="clearfix single_field">
            <label>
              <input type="checkbox" name="optionsCheckboxes" value="option1">
              Remember me
            </label>
          </div>
        </div>
		<div style="text-align:center;">
          <button type="submit" class="btn primary">Submit</button>
        </div>
        <br>
        <p><a href="/users/password/new">Forgot your password?</a>
	or <a href="/home/signup" class="register_link_on_sign_in">No account?</a></p>
        
	</form>
  </div>
  
  <div class="span5 columns loginSocial">  
    <h3>Log in with</h3>
    <div class="signup_right">
	  <div class="inner">
	    <div class="social-login-wrapper">
	      <% @signinlinks.each_pair do |provider, link| %>
            <% if provider != :email %>
              <% social = { "name" => provider, "link" => link } %>
              <%= render :partial => "sessions/loginprovider", :locals=>{:mySocial => social} %>
            <% end %>  
          <% end %>
        </div>
	  </div>
    </div>
  </div>	
</div>
