<% if user_signed_in? %><li class="dropdown" data-dropdown="dropdown">
      <a href="#" class="dropdown-toggle"><%= current_user.name %></a>
      <ul class="dropdown-menu">
          <li><a href="/group">ç¾¤ç?è³‡æ?</a></li>
          <li><a href="/">äº¤æ?ç´€??/a></li>
          <li><a href="/users/<%= current_user.id %>">?‹äººè³‡æ?</a></li>
          <li class="divider"></li>
          <li><%= link_to('Logout', signout_path) %></li>
      </ul>
  </li>
<% else %>
  <li>
    <%= link_to('Login', signin_path)  %>  
  </li>
<% end %>