<% if user_signed_in? %><li class="dropdown" data-dropdown="dropdown">
      <a href="#" class="dropdown-toggle"><%= current_user.name %></a>
      <ul class="dropdown-menu">
          <li><a href="/group">群組資料</a></li>
          <li><a href="/">交易紀錄</a></li>
          <li><a href="/">個人資料</a></li>
          <li class="divider"></li>
          <li><%= link_to('Logout', signout_path) %></li>
      </ul>
  </li>
<% else %>
  <li>
    <%= link_to('Login', signin_path)  %>  
  </li>
<% end %>