<% content_for :css_head do %>
  <%= stylesheet_link_tag "yuser_login" %>
<% end %>
<% content_for :js_head do %>
  <%= javascript_include_tag "yuser_login" %>
<% end %>
<% content_for :js_ready do %>
    yuser_signup_init();
<% end %>

<div class="span16 page-header">
	<h1>註冊</h1>
</div>	

<div class="row login_methods">
  <div class="span15 columns loginNew">  
	<form id="formSignup" class="formloginNew" accept-charset="UTF-8" action="/auth/identity/register" method="post">
        <div>
            <h3>New to </h3>
            <div class="clearfix single_field required">
                <label for="name">Name</label>
                    <div class="input">
                        <input class="xlarge" name="name" size="20" type="text">
                        <span class="help-inline">Small snippet of help text</span>
                    </div>
            </div>
            <div class="clearfix single_field required">
                <label for="email">Email</label>
                    <div class="input">
                        <input class="xlarge" name="email" size="20" type="text">
                        <span class="help-inline">Small snippet of help text</span>
                    </div>
            </div>
            <div class="clearfix single_field">
                <label for="password">Password</label>
                    <div class="input">
                        <input class="xlarge" name="password" size="20" type="password">
                        <span class="help-inline">Small snippet of help text</span>
                    </div>
            </div>
            <div class="clearfix single_field">
                <label for="password_confirmation">Confirm Password</label>
                    <div class="input">
                        <input class="xlarge" name="password_confirmation" size="10" type="password">
                        <span class="help-inline">Small snippet of help text</span>
                    </div>
            </div>
        </div>

		<div style="text-align:center;">
            <button id="formSignup_btn" type="submit" class="btn primary">Sign Me Up!</button>
        </div>
	</form>
  </div>	
</div>
